body{
    background-color: bisque;
}
h1{
    text-align: center;
}
.texto{
    margin: 40px;
    padding: 20px;
}
.paragrafo-padrao{
    background-color: #F5F5F5;
    
}

.paragrafo-destacado{
    background-color: #F0CCE2;
    
}